main{
    margin: 0 auto;
}

.page{
    padding:0.5rem 3rem;
}
    

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    width: 1110px;
    margin:0 auto;
    margin-bottom: 2rem;
}

.btn1{
    margin:0.5rem;
    width: 175px;
height: 58px;
background-color: #E8EFF2;
border-radius: 8px;
border: transparent;
font-weight: 900;
}

button:hover{
    background: #162542;
    color: white;
}

.tm-container{
    margin:0.5rem;
    background-color: #F16718;
    width: 40px;
height: 40px;
display: flex;
    justify-content: space-around;
    max-width: 21.875rem;
    
    
}

.tm{
    color: white;
    width: 20px;
height: 12px;
font-weight: 700;
text-align: center;
}

h1{

bottom: 64.1%;
font-family: 'Barlow', sans-serif;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 56px;
line-height: 56px;
color: #162542;
display: block;

}

p{
font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #7B8BAD;
}

.btn2{
    background-color: #F16718;
    color: white;
    border-radius: 8px;
border: transparent;
font-weight: 600;
width:175px;
height:58px;

}
.btn2:hover{
    background-color: #FF9B62;

}
.release{
text-transform: uppercase;
height: 26px;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
color: #7B8BAD;
}

.t-footer{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.hero{
    display: flex;
    align-items: center;
   width: 1110px;
   margin: 0 auto;

}
.img-container{
    width: 540px;
height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9375rem;
    position: relative;
    right: -1.5rem;
    margin-bottom: 1.5rem;
    background-color: #D8D8D8;

   
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 20px;

    
   

}

.m-footer{
    width: 1110px;
    margin:0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
   

}



.image-left{
   background-image: url(../../starter-code/assets/desktop/image-phone-and-keyboard.jpg);
   background-color: #f26818;
    background-blend-mode: multiply;
    background-size: cover;
    width: 255px;
    height: 480px;
    border-radius: 1rem;

    }

    .image-right{
        background-image:url(../assets/desktop/image-glass-and-keyboard.jpg);
        width: 445px;
        height: 480px;
    background-size: cover;
    border-radius: 1rem;
   
  
       
    
    }
    .img-text{
        width: 255px;
height: 265px;

    }



      .h2 {
        text-align: left;
        margin-left: 2.4375rem;
        margin-bottom: 0;
        position: absolute;
width: 255px;
height: 108px;
left: 1020px;
top: 818px;
font-family: 'Barlow';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
text-transform: uppercase;
color: #162542;


      }

      .mech-text p {
        text-align: left;
        align-self: center;
        margin-bottom: 0;
        position: absolute;
width: 255px;
height: 130px;
left: 1020px;
top: 953px;
font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #7B8BAD;
      }

      .features{
        width: 1110px;
        margin:0 auto;
        display: flex;
        margin-top: 4rem;
        justify-content: space-around;
      
      }

      .icon-container{
        background: #F16718;
        width: 65px;
height: 65px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 1rem;

      }

     .icon-1{
        width: 25.14px;
     }
     .icon-2{
        width: 17.68px;
     }
     .icon-3{
        width: 31.99px;

     }
     .icon-4{
        width: 32px;

     }

     .feature-text-title{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
         color: #162542;
        text-align: left;
        width: 100px;
     }

     .feature-text{
        font-family: 'Barlow';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #7B8BAD;
width: 200px;
     }

     .footer {
        width: 1110px;
        margin:0 auto;
font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
color: #7B8BAD;
       text-align: center;

      }
      
      @media only screen and (max-width: 768px) and (min-width: 376px)  {
        
        nav{
            width: 689px;
height: 58px;
        }
        .hero{
            width: 689px;
        }
        .m-footer{
            width: 689px;
            margin-top: 1.5rem;
        }
        .m-footer-img{
            display: grid;
            grid-template-columns: auto auto;
            gap: 40px;
            
        }
        .image-left{
            height: 320px;
        }
        .image-right{
            width: 400px;
            height: 320px;
        }
        .img-text{
            display: flex;
            justify-content: center;
            align-items:center ;
            width: 600px;
            margin-left: 50px;
        }
        .img-text>p{
            width: 400px;
        }
        .features{
            width: 689px;
            /* background: purple; */
            display: grid;
            grid-template-columns: auto auto;
        }
        .footer{
            width: 689px;
        }
      }
      @media only screen and (max-width: 375px) and (min-width: 0px)  {


    }

